html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  position: relative;
  margin: 0;
  padding-bottom: 6.74rem;
  min-height: 100%;
  box-sizing: inherit;
}

#icon {
  width: 10%;
}

/* Navbar Hintergrundfarbe */

.navbar.bg-body-tertiary {
  background: linear-gradient(180deg, #e679ab 0%, #e679ab 100%) !important;
}
.navbar-brand {
  color: #ffffff !important;
  margin-left: 50px;
}

/* Ändere die Höhe der Navbar */
.navbar {
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Ändere die Höhe der Navbar-Brand */
.navbar-brand {
  font-size: 30px;
}
/* Ändere die Schriftgröße der Navbar-Links */
.navbar-nav .nav-link {
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav .nav-link,
.nav .nav-link {
  color: #ffffff !important;
  position: relative;
}

/*Strich unter Link*/
.navbar-nav .nav-link::before,
.nav .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::before,
.nav .nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-item {
  text-align: center;
}

/* footer */

footer {
  margin-top: 30px;
  padding: 20px;
  background: linear-gradient(180deg, #e679ab 0%, #e679ab 100%) !important;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar-nav .nav-link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

/* Erklärfeld */
#header {
  font-weight: bold;
}

#intro-container {
  text-align: center;
}

#introduction {
  margin-top: 3%;
  padding: 30px;
  width: 100%;
  background: linear-gradient(180deg, #f5cdc5 0%, #f5cdc5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  color: black;
  border: 2px solid #e679ab;
}

#datadonationheader {
  margin-top: 20px;
  padding: 30px;
  width: 100%;
  background: linear-gradient(180deg, #f5cdc5 0%, #f5cdc5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  color: black;
  border: 2px solid #e679ab;
}

#bubble-chart {
  max-width: 100%;
  max-height: 100%;
}

#confirmbox {
  margin-top: 20px;
  padding: 30px;
  width: 100%;
  background: linear-gradient(180deg, #f5cdc5 0%, #f5cdc5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
  color: black;
  border: 2px solid #e679ab;
}

#donation-header {
  font-weight: bold;
  font-size: px;
}

#textfeld {
  margin-top: 15px;
  border-radius: 15px;
  font-size: 18px;
}

#dropdown-button {
  color: black;
}

#greybox {
  margin-top: -7%;
  padding: 30px;
  width: 100%;
  height: 800px;
  background: #e8f0f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

@media (max-width: 576px) {
  #greybox {
    margin-top: -7%;
    padding: 30px;
    width: 100%;
    height: 1000px;
    background: #e8f0f5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }
}
#label {
  padding: 5px;
  text-align: justify;
  height: 50px;
  background: linear-gradient(180deg, #4cd49e 0%, #51d075 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: white;
}

#label-continuation {
  margin-top: 30px;
  padding: 5px;
  height: 50px;
  text-align: justify;
  background: linear-gradient(180deg, #4cd49e 0%, #51d075 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: white;
}

div.habit-input-container,
div.clear-container {
  height: 5em;
  min-height: 5em;
}

div#habit-input,
button#clear {
  height: 100%;
}

#clear {
  color: #e679ab;
  background-color: transparent;
  border: 0 none;
  height: auto;
  width: auto;
  padding: 0;
  margin: 0;
}

#time {
  background-color: #dd7a7a;
}

#physical {
  background-color: #ad7cbc;
}

#people {
  background-color: #b8d466;
}

#prior {
  background-color: #fbea67;
}

#internal {
  background-color: #e89f5c;
}

#behavior {
  background-color: #42c2ca;
}

#grünesFeld {
  margin-top: 2%;
  padding: 30px;
  width: 100%;
  background: linear-gradient(180deg, #4cd49e 0%, #51d075 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

button {
  --primary-color: #e679ab;
  --secondary-color: #fff;
  --hover-color: #111;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 70%;
  margin-top: 30px;

  text-align: center;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
  font-size: 1.5em;
}

button .arrow::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#habitbutton {
  width: 70%;
  height: 70%;
  margin-top: 30px;
  padding: 5px;
  text-align: center;
  justify-content: flex-start;
  background: darkcyan;
  border-radius: 10px;
  color: white;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-button {
  width: calc(20% - 20px);
  margin: 10px;
  line-height: 2;
}

@media (max-width: 800px) {
  .button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.custom-button:last-child {
  width: 40%;
  margin-left: 80px;
}

@media (max-width: 1381px) {
  .custom-button {
    margin: 3px;
    line-height: 2;
    min-height: 70px;
    height: 60px;
    flex-basis: calc(33.33% - 10px);
  }

  custom-button:last-child {
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 800px) {
  .custom-button {
    margin: 3px;
    line-height: 2;
    min-height: 70px;
    flex-basis: calc(34% - 5px);
  }

  custom-button:last-child {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.dropdown-menu ul li a::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: px;
  background-size: cover;
}

.de:before {
  background-image: url(https://flagsapi.com/DE/flat/64.png);
}

.en:before {
  background-image: url(https://flagsapi.com/GB/flat/64.png);
}
.fr:before {
  background-image: url(https://www.countryflags.io/fr/flat/32.png);
}

.ar:before {
  background-image: url(https://www.countryflags.io/ae/flat/32.png);
}

.dropdown-menu:hover ul {
  display: block;
}

.language-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #111;
}

.language-list a:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 rgb(197, 201, 197);
}

#icon2 {
  width: 13%;
  margin-top: 20px;
}

#globus {
  height: 25px;
}
#slogan {
  color: #e679ab;
}

#thanks {
  margin-top: 3%;
  padding: 30px;
  width: 100%;
  height: 210px;
  align-items: center;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: #e679ab;
  border: 4px solid #e679ab;
}

#donate_again {
  --primary-color: #e679ab;
  --secondary-color: #fff;
  --hover-color: #111;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 69px;
}

#reward {
  color: #e679ab;
  background-color: #fff;

  display: flex;
  justify-content: center;
  width: 100%;
  height: 69px;
  border-radius: 20px;
  border: 4px solid #e679ab;
}
#reward:hover {
  background-color: #000;
}

.socialmedia {
  height: 50px;
  width: 50px;
}
.contact_text {
  margin-top: 20px;
  margin-bottom: 1px;
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font:
    11px 'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  text-anchor: middle;
  text-shadow:
    0 1px 0 #fff,
    1px 0 0 #fff,
    -1px 0 0 #fff,
    0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

.demosection {
  margin-bottom: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.demosection label {
  flex-basis: 10em;
}

@media (max-width: 400px) {
  .demosection > input,
  select {
    width: 100%;
  }
}

@media (min-width: 400px) {
  .demosection > input,
  select {
    width: 350px;
  }
}

/* .demo-gender {
  display: flex;
  flex-flow: row wrap;
} */

.demo-gender div,
input {
  margin-right: 1em;
}
/* .demo-age {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

#chooseOpt {
  text-align: center;
}
