<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- include('nav', navigation) %>
    <main class="container mt-5 mb-5 pb-5">
      <h1>Accessibility Statement</h1>
      <p>
        The Research Group Digital Health is committed to making its websites and mobile applications accessible,
        in accordance with “Website Accessibility Act” BfWebG (Barrierefreie-Websites-Gesetz) and
        the “Accessible IT Ordinance” BITV 2.0 (Barrierefreie-Informationstechnik-Verordnung), implementing EU Directive 2016/2102.
      </p>
      <p>
        <h4>Preparation of this Accessibility Statement</h4>
        This statement was prepared on 8th April 2025 and last updated on 8th April 2025.
        The last verification of this web presence by means of self-assessment was carried out on 8th April 2025.<br>
        The basis for issuing this accessibility statement is a self-assessment of the website's compatibility with
        the requirements of the BfWebG in accordance with BITV 2.0.
      </p>
      <p>
        <h4>Compliance status with the requirements of the BITV</h4>
        This web presence was launched before 8th April 2025 and does not yet fully correspond to the current state of accessibility.
        We are constantly working on the further development of this web presence and in doing so we are also trying to break down barriers.
      </p>
      <p>
        <h4>Non-accessible content</h4>
        <ul>
          <li>Alternatives for images and graphic elements are not fully available.</li>
          <li>Accessible Rich Internet Applications (ARIA) attributes for orientation within elements are not fully available.</li>
          <li>Accessibility by keyboard is not fully available for the following elements/contents: Labels for context and behaviour"</li>  
          <li>The position of the keyboard focus is not clearly visible.</li>
          <li>Words and sections in other languages are not marked.</li>
          <li>There is no overview page in forms for subsequent checking or correction of the form entries. These are transmitted directly.</li>
          <li>On start and overview pages, certain elements cannot be skipped because the headings are not set.</li>
        </ul>
      </p>
      <p>
        <h4>Feedback and contact information</h4>
        If you notice any shortcomings with regard to accessible design, please contact us at:<br><br>
        Email: <a href="mailto:digital-health@tu-dresden.de">digital-health@tu-dresden.de</a><br>
        Phone: <a href="tel:+4935146337671">+49 351 463-37671</a>
      </p>
      <p>
        <h4>Enforcement procedure</h4>
        If you are not satisfied with our handling of your feedback, you can contact the Enforcement Body of Saxony:<br><br>
        <p>
          Office of the Commissioner of the Saxon State Government for the Affairs of Persons with Disabilities<br>
          Albertstraße 10<br>
          01097 Dresden
        </p>
        <p>
          Postal address: Archivstraße 1, 01097 Dresden<br>
          Email: <a href="mailto:info.behindertenbeauftragter@sk.sachsen.de">info.behindertenbeauftragter@sk.sachsen.de</a><br>
          Phone: <a href="tel:+4935156412161">+49 351 564-12161</a><br>
          Internet: <a href="https://www.inklusion.sachsen.de">https://www.inklusion.sachsen.de</a>
        </p>
      </p>
    </main>
    <%- include('footer') %>
  </body>
</html>
